* {
    margin: 0;
    padding: 0;
}

html,
body {
    max-width: 100%;
    overflow-x: hidden;
}

.logo-title {
    background-color: #35312f;
    position: relative;
}

.test-btn {
    position: absolute;
    left: 2rem;
    padding: 0.5rem 2rem;
    border-radius: 10px;
    border: solid 1px white;
    background-color: #35312f;
    cursor: pointer;
    transition: 100ms ease-in-out;
}

.test-btn:hover {
    transition: 100ms ease-in-out;
    color: #35312f;
    background-color: white;
}

.title {
    width: 100vw;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.window {
    width: 100vw;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

body * {
    color: white;
    /* border: solid 1px black; */
    font-family: Montserrat, sans-serif;
    box-sizing: border-box;
}

.content-window {
    height: 90%;
    width: 90%;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
}

.section {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.range-div {
    height: 20%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.range-div > p {
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
}

.range-div div {
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.range-div div p {
    font-size: 1.4rem;
    width: 30px;
    text-align: center;
}

.process-count-range {
    -webkit-appearance: none;
    appearance: none;
    width: 70%;
    height: 15px;
    margin-left: 5rem;
    margin-right: 1rem;
    border-radius: 5px;
    background: #d3d3d3;
    opacity: 0.9;
    outline: none;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.process-count-range::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    cursor: pointer;
}

.process-count-range::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    cursor: pointer;
}

.process-count-range:hover {
    opacity: 1;
}

.inputs-titles-div {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 5px;
    border-bottom: solid 1px white;
    margin-bottom: 10px;
}

.input-row p,
.input-row input {
    width: 70px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inputs-titles-div p {
    width: 25%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-row input {
    border-radius: 10px;
    border: none;
    color: black;
    font-size: 1.2rem;
    cursor: pointer;
    text-align: center;
}

.inputs-div {
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow-y: scroll;
    overflow-x: hidden;
}

.input-row {
    width: 100%;
    min-height: 30px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
    margin-top: 10px;
}

.randomize-div {
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.clear-btn {
    position: absolute;
    right: 12%;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: 100ms ease-in-out;
}

.clear-btn:hover {
    transition: 100ms ease-in-out;
    transform: scale(1.05);
}

.randomize-div p {
    font-size: 0.8rem;
}

.random-data-btn {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: none;
    margin-right: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 100ms ease-in-out;
}

.random-data-btn:hover {
    transition: 100ms ease-in-out;
    transform: scale(1.1);
}

.random-data-btn img {
    height: 80%;
    width: 80%;
    filter: invert(1);
}

.compute-div {
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.compute-btn {
    padding: 1rem 2rem;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: 100ms ease-in-out;
}

.compute-btn:hover {
    transition: 100ms ease-in-out;
    transform: scale(1.05);
}

.result-title-div {
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.result-title-div:first-of-type {
    margin-top: 2rem;
}

.result-title {
    font-size: 1.4rem;
}

.result {
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.result p {
    font-size: 1.7rem;
}

.right-section {
    position: relative;
}

.compare-div {
    width: 100%;
    height: 10%;
    position: absolute;
    bottom: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.compare-checkbox {
    margin: 1rem;
}

.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 1.3rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

.container:hover input ~ .checkmark {
    background-color: #ccc;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.container input:checked ~ .checkmark:after {
    display: block;
}

.container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.split {
    background-color: #35312f;
}

.quantum-div {
    position: absolute;
    left: 2rem;
    height: 100%;
    width: 22%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.quantum-input {
    border-radius: 10px;
    border: none;
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
    text-align: end;
    width: 2.7rem;
    background-color: #f8aaff;
}

.show-modal-div {
    height: 100px;
    position: relative;
}

.show-modal-div a {
    position: absolute;
    bottom: 30px;
    right: 50px;
}

.show-modal-div img {
    height: 40px;
    width: auto;
    filter: invert(1);
}

.show-modal-div img:hover {
    filter: invert(0.8);
}

.signature {
    color: gray;
    font-size: 0.6rem;
    position: absolute;
    left: 30px;
    bottom: 30px;
}

.show-modal-btn {
    padding: 1rem 2rem;
    border-radius: 10px;
    border: solid 1px white;
    background-color: #35312f;
    cursor: pointer;
    transition: 100ms ease-in-out;
}

.show-modal-btn:hover {
    transition: 100ms ease-in-out;
    color: #35312f;
    background-color: white;
}

.window-fifo,
.window-lru {
    height: 450px;
}

.range-div-fifo,
.range-div-lru {
    height: 30%;
}

.pages-input-div {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.pages-input-div h3 {
    width: 80%;
    text-align: center;
    font-size: 1.5rem;
    border-bottom: solid 1px white;
    padding-bottom: 5px;
}

.pages-input {
    width: 80%;
    height: 40px;
    border-radius: 10px;
    border: none;
    color: black;
    font-size: 1.4rem;
    cursor: pointer;
    padding: 0 8px;
    margin: 10px 0;
}

.pages-input-div p {
    font-size: 0.7rem;
}

.comparison-modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.7); 
}
  
.comparison-modal-content {
    background-color: #696969;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}
  
.comparison-close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
.comparison-close:hover,
.comparison-close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.test-modal {
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.7); 
    overflow-x: hidden;
    overflow-y: hidden;
}
  
.test-modal-content {
    background-color: #696969;
    margin: 15% auto; 
    padding: 20px;
    border-radius: 10px;
    border: none;
    width: 80%;
    height: 90%;
    display: flex;
    position: relative;
}

/* .test-modal * {
    border: solid 1px black;
} */

.test-section {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.processes-section {
    border-right: solid 0.5px white;
}
.pages-section {
    border-left: solid 0.5px white;
}

.chart-div {
    height: 40%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.test-results-title-div {
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: solid 2px white;
    border-top: solid 2px white;
}

.test-results-div {
    height: 40%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4px 0;
}

.test-comparison {
    width: 100%;
    height: 10%;
    border-top: solid 2px white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4px;
    text-align: center;
    font-size: 0.9rem;
}

.test-comparison p {
    margin: 3px;
}

.test-results-title-div > p {
    width: 20%;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
} 

.test-results-title-div span {
    height: 100%;
    width: 40%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.test-results-title-div span h5 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
}

.test-results-title-div span p {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.8rem;
}

.test-results {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.test-close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    right: 4px;
    top: -3px;
}
  
.test-close:hover,
.test-close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.pages-test-results-ul,
.processes-test-results {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

.pages-test-results-ul li,
.processes-test-results li {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin-top: 4px;
}

.processes-test-results p {
    width: 80px;
    height: 100%;
    text-align: center;
    border-radius: 10px;
    font-size: 1.3rem;
}

.pages-test-results-ul p {
    width: 80px;
    height: 100%;
    text-align: center;
    border-radius: 10px;
    font-size: 1.3rem;
}

.info-div {
    position: absolute;
    right: 20px;
    top: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tooltip {
    position: relative;
    display: inline-block;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tooltip img {
    height: 30px;
    filter: invert(1);
    cursor: pointer;
}
  
.tooltip .tooltiptext {
    visibility: hidden;
    width: 300px;
    height: 250px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 10px;
    position: absolute;
    z-index: 1;
    bottom: -200px;
    right: 125%;
    margin-left: -60px;
    opacity: 0;
    transition: 150ms ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 30px;
    right: -9px;
    transform: rotate(-90deg);
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}
  
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

/* FCFS colors */

.alg-title-fcfs {
    background-color: #2aaa8a;
}
.window-fcfs,
.input-row-fcfs input {
    background-color: #bde0bd;
}
.content-window-fcfs {
    background-color: #214341;
}
.random-data-btn-fcfs,
.compute-btn-fcfs,
.clear-btn-fcfs {
    background-color: #79beb3;
}
.process-count-range-fcfs::-webkit-slider-thumb {
    background-color: #79beb3;
}
.container-fcfs input:checked ~ .checkmark {
    background-color: #79beb3;
}
.random-data-btn-fcfs:hover,
.compute-btn-fcfs:hover,
.clear-btn-fcfs:hover {
    background-color: #2fc4ab;
}


/* ROUND ROBIN colors */

.alg-title-rr {
    background-color: #8550b6;
}
.window-rr,
.input-row-rr input {
    background-color: #fbd1ff;
}
.content-window-rr {
    background-color: #552586;
}
.random-data-btn-rr,
.compute-btn-rr,
.clear-btn-rr {
    background-color: #f8aaff;
}
.process-count-range-rr::-webkit-slider-thumb {
    background-color: #f8aaff;
}
.container-rr input:checked ~ .checkmark {
    background-color: #f8aaff;
}
.random-data-btn-rr:hover,
.compute-btn-rr:hover,
.clear-btn-rr:hover {
    background-color: #f370ff;
}


/* FIFO colors */

.alg-title-fifo {
    background-color: #ffa600;
}
.window-fifo,
.fifo-pages-input {
    background-color: #ffcd8b;
}
.content-window-fifo {
    background-color: #fc8f2a;
}
.random-data-btn-fifo,
.compute-btn-fifo,
.clear-btn-fifo {
    background-color: #ff6f5c;
}
.process-count-range-fifo::-webkit-slider-thumb {
    background-color: #ff6f5c;
}
.container-fifo input:checked ~ .checkmark {
    background-color: #ff6f5c;
}
.random-data-btn-fifo:hover,
.compute-btn-fifo:hover,
.clear-btn-fifo:hover {
    background-color: #ff391f;
}


/* LRU colors */

.alg-title-lru {
    background-color: #3c63ce;
}
.window-lru,
.lru-pages-input {
    background-color: #bed2fd;
}
.content-window-lru {
    background-color: #2b448a;
}
.random-data-btn-lru,
.compute-btn-lru,
.clear-btn-lru {
    background-color: #34a3fd;
}
.process-count-range-lru::-webkit-slider-thumb {
    background-color: #34a3fd;
}
.container-lru input:checked ~ .checkmark {
    background-color: #34a3fd;
}
.random-data-btn-lru:hover,
.compute-btn-lru:hover,
.clear-btn-lru:hover {
    background-color: #4ecff7;
}



.hide {
    display: none;
}

.show {
    display: flex;
}

@media only screen and (max-width: 1440px) {
    .test-results-title-div span h5 {
        font-size: 1.2rem;
    }
    
    .test-results-title-div span p {
        font-size: 0.6rem;
        text-align: center;
    }
}

@media only screen and (max-width: 800px) {
    .left-section {
        width: 70%;
    }

    .right-section {
        width: 30%;
    }

    .right-section * {
        font-size: 1rem;
        text-align: center;
    }

    body * {
        font-size: 1rem;
    }

    .window button {
        padding: 8px 3px;
        font-size: 1rem;
    }
}